.#{$la-css-prefix}-spin {
    -webkit-animation: la-spin 2s infinite linear;
    animation: la-spin 2s infinite linear;
}

.#{$la-css-prefix}-pulse {
    -webkit-animation: la-spin 1s infinite steps(8);
    animation: la-spin 1s infinite steps(8);
}

@-webkit-keyframes la-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes la-spin {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}